
.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#app {
    height: 80%;
}

.action.icon {
    cursor: pointer;
    opacity: 0.8;
}


.action.icon:hover {
    opacity: 1;
}
